<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @arrangement.recipe_id %>
</p>

<%= link_to 'Edit', edit_arrangement_path(@arrangement) %> |
<%= link_to 'Back', arrangements_path %>
