<h1 class="vertical-text";>フォントてすと</h1>
<div id="color_name">
  <div class="layout_l color_00a381 vertical-text"><%= @tweets[0].massage %></div>
  <div class="layout_c color_824880 vertical-text"><%= @tweets[1].massage %></div>
  <div class="layout_r color_eebbcb vertical-text"><%= @tweets[2].massage %></div>
</div>
